.mainCont {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: auto 50px;
  grid-gap: 1rem;
  margin: 1rem 1.5rem;
}
.cardInfo {
  border: 2px solid var(--bg-4);
  padding: 7px 11px;
  border-radius: 0.6rem;
  background-color: var(--bg-2);
}
.cardInfo > p:nth-child(1) {
  color: var(--font-color);
  font-size: var(--font-l);
  margin-bottom: 4px;
}
.cardInfo > p:nth-child(2) {
  font-size: var(--font-s);
  color: var(--bg-5-font);
}
.cardInfo > p:nth-child(3) {
  font-size: var(--font-xs);
  text-align: right;
  color: var(--bg-5-font);
}
.cardButton {
  display: grid;
  justify-content: center;
  align-items: center;
}

.cardButton:hover {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* animation */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
}
