#mainCont {
  margin: 1.5rem 1.5rem 0rem 1.5rem;
}
#mainContLink {
  display: grid;
  border: 2px solid var(--bg-4);
  grid-template-columns: 4rem auto;
  width: fit-content;
  padding: 3px 5px;
  /* background-color: var(--bg-1); */
  border-radius: 12px;
}

#mainContLink > p {
  /* border: 2px solid red; */
  color: var(--bg-5-font);
}
#createdMess {
  display: none;
  position: absolute;
  top: 2rem;
  color: red;
  border: 2px solid var(--bg-4);
  width: fit-content;
  padding: 5px 8px;
  border-radius: 10px;
  background-color: var(--bg-5);
}
