#mainCont {
  margin-top: 2rem;
  padding: 0px;
  /* border: 2px solid red; */
}
#mainCont > div > form {
  display: block;
  /* grid-template-columns: calc(100% - 3rem) 3rem; */
}

#inputCont {
  all: unset;
  color: var(--font-color);
  width: calc(100% - 2rem);
  /* border: 2px solid green; */
  font-size: var(--font-l);
  resize: "none";
  overflow: hidden;
  min-height: "40px";
  /* line-height: 20.75px; */
  /* border: 2px solid red; */

  /* background-color: var(--bg-5); */
  border-radius: 1rem;
  padding: 1rem 1rem 0rem 1rem;
}

#inputTitle {
  all: unset;

  /* width: 70%; */
  /* border: 2px solid green; */
  font-size: var(--font-s);
  resize: "none";
  overflow: hidden;
  min-height: "40px";
  line-height: 18.5px;
  margin-top: 1rem;
  color: var(--bg-5-font);
  padding: 0 0 0 1rem;
  display: block;
}
#inputPara {
  all: unset;
  color: var(--font-color);
  /* width: 70%; */
  /* border: 2px solid green; */
  font-size: var(--font-m);
  resize: "none";
  overflow: hidden;
  min-height: "20px";
  line-height: 22.2px;
  /* border: 1px solid var(--bg-4); */

  display: block;
  width: calc(100% - 2rem);
  background-color: var(--bg-2);
  border-radius: 1rem;
  padding: 0.7rem 1rem 0rem 1rem;
}
#buttonSave {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  /* color: red; */
  width: 2.25rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: 0px;
  background-color: unset;
}
