#mainCont {
  all: unset;
  border: 1.7px solid red;
  background-color: var(--bg-1);
  padding: 3px 5px;
  border-radius: 12px;

  position: absolute;
  top: 2rem;
  right: 5rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.4rem;
}
#createdMess {
  display: none;
  position: absolute;
  top: 2rem;
  left: 0rem;
  color: red;
  border: 2px solid var(--bg-4);
  width: fit-content;
  padding: 5px 8px;
  border-radius: 10px;
  background-color: var(--bg-5);
}
